//Primary colors

$primaryLightBlue: #024e80;
$primaryLighterBlue: #18acff;
$primaryBorderColor: #dedede;
$primaryGrey: #5e5e5e;
$primaryRed: #ff0000;

//Secondary colors

$lightGrey: #666666;
$lighterGrey: #d5d5d5;
$secondaryWhite: #ffffff;
