@import '../../../styles/variables.scss';
.ant-input.textarea__container {
  &--textarea {
    border: 1px solid $primaryGrey;
  }

  &--textarea.error {
    border: 1px solid $primaryRed;
  }

}

.textarea__container{
  &--error{
    color: #ff0000;
    position: absolute;
  }
}
