@import '../../styles/variables.scss';

.not__found__page{
    padding: 8.4rem 12rem;
    min-height: calc(100vh - 84px);
    margin: 0 auto;
    &__content{
        &__info{
            font-size: 1.8rem;
            span{
                color:$primaryLighterBlue;
                cursor: pointer;
            }
            a{
                color:$primaryLighterBlue;
                cursor: pointer;
            }
        }
    }
}