@import '../../../../styles/variables.scss';
@import '../../../../styles/common.scss';

.newRegulatory__container {
  padding: 8.4rem 12rem;
  min-height: calc(100vh - 84px);
  margin: 0 auto;
  &__content {
    width: 45rem;
    margin: auto;
    display: grid;
    gap: 3rem;
    .input__container {
      label {
        color: $primaryGrey;
        font-weight: 600;
      }
    }
  }

  &__buttons {
    @include actionButtons;
  }
}

@media screen and (max-width: 800px) {
  .newRegulatory__container {
    padding: 8.4rem 2rem;
    &__buttons {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 500px) {
  .newRegulatory__container {
    &__content {
      width: auto;
    }
  }
}

@media screen and (min-width:376px)and(max-width: 425px) {
  .newRegulatory__container {
    min-height: calc(100vh - 79px);
  }
}

@media screen and (min-width: 320px) and (max-width:375px) {
  .newRegulatory__container {
    min-height: calc(100vh - 58px);
  }
}
