@import '../../../../../../styles/variables';

.messages__container {
  display: grid;
  gap: 2rem;
  &__messages {
    display: grid;
    border-radius: 10px;
    padding: 2rem;
    width: 25rem;
    background: $lighterGrey;
    color: $primaryGrey;

    &--message {
      word-break: break-word;
    }
  }
  .me {
    background: $primaryLighterBlue;
    color: $secondaryWhite;
    margin-left: 2rem;
  }
}
